SQLAlchemy==2.0.19
alembic==1.11.1
bcrypt~=4.0.0
fastapi_health~=0.4.0
fastapi==0.100.0
jose~=1.0.0
passlib~=1.7.4
pydantic[dotenv,email]==2.0.3
pytest==7.4.0
python-jose~=3.3.0
python-multipart~=0.0.5
requests==2.31.0
uvicorn==0.23.1
httpx==0.24.1
pydantic-settings==2.0.2
fastapi_responses==0.2.1
starlette==0.30.0